# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# PyInstaller build output
build/
dist/
*.spec.bak

# Local backups created by the app
local_backups/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
